{% extends 'base.html.twig' %}

{% block title %}Mon profil
{% endblock %}

{% block body %}
	<main class="d-flex flex-column align-items-center">
		<h2 class="pb-4">Mon profil</h2>
		<a href="{{ path('app_account') }}" class="btn btn-secondary mb-4">Retour</a>
		<h3>Utilisateur "{{user.firstname ~ " " ~ user.lastname}}"</h3>
		<table class="table w-50 mx-auto">
			<thead>
				<tr>
					<th scope="col">Ref</th>
					<th scope="col">Valeur</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Prénom</th>
					<td>{{user.firstname}}</td>
				</tr>
				<tr>
					<th scope="row">Nom</th>
					<td>{{user.lastname}}</td>
				</tr>
				<tr>
					<th scope="row">Email</th>
					<td>{{user.email}}</td>
				</tr>
				<tr>
					<th scope="row">Adresse</th>
					<td>{{user.address ~ ", " ~ user.city ~ ", " ~ user.zipcode}}</td>
				</tr>
				<tr>
					<th scope="row">Téléphone</th>
					<td>{{user.phone}}</td>
				</tr>
				<tr>
					<th scope="row">Date de naissance</th>
					<td>{{user.birthdate|date('d/m/Y')}}</td>
				</tr>
			</tbody>
		</table>
		{# {{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Modifier</button>
		{{ form_end(form) }} #}
	</main>
{% endblock %}
