{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}
	<main class="w-75 mx-auto">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endfor %}
		<h1 class="mb-3">Mon compte</h1>
		<div class="alert alert-light" role="alert">
			<strong>Bienvenue dans votre espace personnel,
				{{ user.firstname }}</strong>
			! Ici, vous pouvez modifier vos informations personnelles et consulter l'historique de vos emprunts.
		</div>
		{# Informations personnelles #}
		<h2 class="border-bottom pb-2 mt-5 mb-3">Mes informations personnelles</h2>
		<p>
			<strong>Nom</strong>
			:
			{{ user.firstname ~ ", " ~ user.lastname }}</p>
		<p>
			<strong>Email</strong>
			:
			{{ user.email }}</p>
		<p>
			<strong>Adresse</strong>
			:
			{{user.address ~ ", " ~ user.city ~ ", " ~ user.zipcode}}</p>
		<p>
			<strong>Téléphone</strong>
			:
			{{user.phone}}</p>
		<a href="{{ path('app_account_edit') }}" class="btn btn-primary">Modifier mes informations</a>

		{# Abonnement #}
		<h2 class="border-bottom pb-2 mt-5 mb-3">Mon abonnement</h2>
		{% if subscription is null %}
			<p>Vous n'avez pas d'abonnement. Abonnez-vous
				<a href="{{ path('app_subscription')}}">en deux clics ici</a>
				!
			{% else %}
				<p>
					<strong>Date de début</strong>
					:
					{{ subscription.startDate|date('d-m-Y') }}
				</p>
				<p>
					<strong>Date de fin</strong>
					:
					{{ subscription.endDate|date('d-m-Y') }}
				</p>
			{% endif %}

			{# Historique d'emprunts #}
			<h2 class="border-bottom pb-2 mt-5 mb-3">Mes emprunts de livres</h2>
			{% if historiqueEmprunts is empty %}
				<p>Aucun emprunt enregistré.</p>
			{% else %}
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Livre</th>
							<th scope="col">Date de début</th>
							<th scope="col">Date de fin</th>
							<th scope="col">Extension</th>
						</tr>
					</thead>
					<tbody>
						{% for emprunt in historiqueEmprunts|slice(0, 10) %}
							<tr>
								<td scope="row" class="align-middle">{{emprunt.livres.titre}}</td>
								<td class="align-middle">{{emprunt.dateDebut|date('d-m-Y')}}</td>
								<td class="align-middle">{{emprunt.dateFin|date('d-m-Y')}}</td>
								<td
									class="align-middle">
									{# <form action="{{ path('app_account_extension', {'id': emprunt.id}) }}" method="post">
										<button type="button" class="extension-button" data-toggle="modal" data-target="#extensionModal">Je profite</button>
										</form> #}

									<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#extensionModal">
										Etendre le prêt
									</button>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

			<!-- Modal -->
			{# <div class="modal fade" id="extensionModal" tabindex="-1" role="dialog" aria-labelledby="extensionModalLabel" aria-hidden="true">
						        <div class="modal-dialog" role="document">
						            <div class="modal-content">
						                <div class="modal-header">
						                    <h5 class="modal-title" id="extensionModalLabel">Confirmation d'extension</h5>
						                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                        <span aria-hidden="true">&times;</span>
						                    </button>
						                </div>
						                <div class="modal-body">
						                    <p>Souhaitez-vous prolonger la durée de l'emprunt ?</p>
						                </div>
						                <div class="modal-footer">
						                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						                    <button type="submit" class="btn btn-primary">Confirmer</button>
						                </div>
						            </div>
						        </div>
						    </div> #}

			<!-- Modal -->
			{# <div class="modal fade" id="extensionModal" tabindex="-1" role="dialog" aria-labelledby="extensionModalLabel" aria-hidden="true">
						    <div class="modal-dialog" role="document">
						        <div class="modal-content">
						            <div class="modal-header">
						                <h5 class="modal-title" id="extensionModalLabel">Confirmation d'extension</h5>
						                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                    <span aria-hidden="true">&times;</span>
						                </button>
						            </div>
						            <div class="modal-body">
						                <p>Souhaitez-vous prolonger la durée de l'emprunt ?</p>
						            </div>
						            <div class="modal-footer">
						                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						                <button type="button" class="btn btn-primary">Confirmer</button>
						            </div>
						        </div>
						    </div>
						</div> #}

		{# Historique de location #}
			<h2 class="border-bottom pb-2 mt-5 mb-3"> Mes locations de salles</h2>
			{% if rentals is empty %}
			<p>Aucune location enregistrée.</p>
			{% else %}
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Date</th>
							<th scope="col">Nom de la salle</th>
						</tr>
					</thead>
					<tbody>
						{% for rental in rentals|slice(0, 5) %}
							<tr>
								<td scope="row" class="align-middle">{{ rental.createdAt|date('d-m-Y') }}</td>
								<td class="align-middle">{{ rental.room.nom }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

		
		{# Derniers commentaires #}
			<h2 class="border-bottom pb-2 mt-5 mb-3"> Mes derniers commentaires</h2>
			{% if comments is empty %}
			<p>On dirait que vous n'avez laissé aucun commentaire. Prenez votre plume et foncez corriger ça !</p>
			{% else %}
				{% for comment in comments|slice(0, 5) %}
					<div>
						<h3 class="h6">Commentaire laissé le {{ comment.createdAt|date('d-m-Y') }} à propos de "{{ comment.livre.titre }}"</h3>
						<p>{{ comment.content }}</p>
					</div>
				{% endfor %}
			{% endif %}
	</main>
{% endblock %}
