{% extends 'base.html.twig' %}

{% block title %}Liste des livres
{% endblock %}

{% block body %}

	<main class="d-flex flex-column align-items-center">
		{% include '_partials/_adminnav.html.twig' %}
		<h1>Liste des livres</h1>
		<div class="my-5">
			<a href="{{ path('app_livres_nonrestitue') }}" class="btn">Afficher les livres non restitués</a>
			<a href="{{ path('app_admin_livres_new') }}" class="btn">Ajouter un livre</a>
		</div>
		<table class="table table-striped table-hover w-90 px-5">
			<thead>
				<tr>
					<th>Image</th>
					<th>Titre</th>
					<th>Categorie</th>
					<th>Disponibilite</th>
					{# <th>Actions</th> #}
					<th>Emprunté par</th>
					<th>Début</th>
					<th>Fin prévue</th>
				</tr>
			</thead>
			<tbody>
				{% for livre in pagination %}
					<tr>
						<td class="align-middle">{{ livre.image }}</td>
						<td class="align-middle">{{ livre.titre }}</td>
						<td class="align-middle">{{ livre.categorie }}</td>
						<td class="align-middle">{{ livre.disponibilite ? 'Oui' : 'Non' }}</td>
						<td class="align-middle">
							{% if livre.emprunts|length > 0 %}
								{{ livre.emprunts.first().user.firstname }}
								{{ livre.emprunts.first().user.lastname }}
							{% else %}
								Non emprunté.
							{% endif %}

						</td>
						<td class="align-middle">{{ livre.emprunts|length > 0 ? livre.emprunts.first().dateDebut|date('Y-m-d') : 'Non disponible' }}</td>
						<td class="align-middle">{{ livre.emprunts|length > 0 ? livre.emprunts.first().dateFin|date('Y-m-d') : 'Non disponible' }}</td>


						<td class="align-middle">
							<a href="{{ path('app_admin_livres_show', {'id': livre.id}) }}" class="btn btn-dark btn-sm">Détails</a>
							<a href="{{ path('app_admin_livres_edit', {'id': livre.id}) }}" class="btn btn-dark btn-sm">Modifier</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="11">No records found.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<nav class="mt-4">
			{{ knp_pagination_render(pagination) }}
		</nav>
	</main>

{% endblock %}
