{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}

{% block body %}
    <h1>Livres</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>AnneePublication</th>
                <td>{{ livre.anneePublication }}</td>
            </tr>
            <tr>
                <th>MaisonEdition</th>
                <td>{{ livre.maisonEdition }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td>{{ livre.resume }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ livre.image }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ livre.categorie }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ livre.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ livre.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_livres_index') }}">back to list</a>

    <a href="{{ path('app_admin_livres_edit', {'id': livre.id}) }}">edit</a>

    {{ include('admin_livres/_delete_form.html.twig') }}
{% endblock %}
