{% extends 'base.html.twig' %}

{% block title %}Détails du livre
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			<h1 class="text-center">Détails du livre</h1>
			<div>
				<h2>{{ livre.titre }}</h2>
				<p>Auteur :
					{{ livre.auteur }}</p>
				<p>Année de publication :
					{{ livre.anneePublication }}</p>
			</div>
			<hr class="mt-5">
			<section>
				<h2>Avis ({{ comments|length }})</h2>
				<h3 class="h4 mt-4 mb-3">Ajouter un commentaire</h3>
				{{ form(commentForm) }}
                <h3 class="h4 mt-5 mb-3">Commentaires d'utilisateurs</h3>
                {% for comment in comments %}
                    <div class="card p-3 mb-3">
                        <h4 class="h5">Commentaire de
                            {{ comment.user.firstname }}</h4>
                        <p>
                            <strong>Note :</strong>
                            {{ comment.rating }}</p>
                        <p>{{ comment.content }}</p>
						{% if app.user and is_granted('ROLE_ADMIN') %}
							<a href="{{ path('app_comment_admin_delete', {'id': comment.id}) }}" class="btn btn-danger delete-btn btn-sm" data-id="{{ comment.id }}" style="max-width: 100px;">Supprimer</a>
						{% endif %}
                    </div>
                {% endfor %}
				</section>
			</div>
		</main>
	{% endblock %}

{% block script %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const deleteButtons = document.querySelectorAll('.delete-btn');

    deleteButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            
            const id = button.getAttribute('data-id');
            
            const isConfirmed = confirm('Êtes-vous sûr de vouloir supprimer cette entrée ?');
            
            if (isConfirmed) {
                window.location.href = button.getAttribute('href');
            }
        });
    });
});
</script>
{% endblock %}
