{% extends 'base.html.twig' %}

{% block title %}Abonnement
{% endblock %}

{% block body %}
	<main class="w-75 mx-auto">
		<h1 class="mb-4">Choisissez votre abonnement</h1>
		<div class="card mb-3">
			<div class="ratio ratio-16x9" style="max-height: 450px;">
				<img src="https://source.unsplash.com/random/?library&1" class="card-img-top object-fit-cover" alt="Library">
			</div>
			<div class="card-body">
				<h5 class="card-title">Abonnement annuel</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.
				</p>
				<p>
					<strong>259,99€</strong>
					/ an
				</p>
				{% if app.user %}
					{% if flag %}
						Vous êtes déjà abonné. Merci de votre fidélité ;)
					{% else %}
					<a href="{{ path('app_subscription_stripe', {'type': 'yearly'}) }}" class="btn btn-primary sub-btn" data-id="yearly">Souscrire</a>
					{% endif %}
				{% else %}
					<a href="{{ path('app_register') }}" class="btn btn-primary">M'inscrire</a>
					ou
					<a href="{{ path('app_login') }}" class="btn btn-primary">Me connecter</a>
				{% endif %}
			</div>
		</div>
		<div class="card">
			<div class="ratio ratio-16x9" style="max-height: 450px;">
				<img src="https://source.unsplash.com/random/?library&2" class="card-img-top object-fit-cover" alt="Library">
			</div>
			<div class="card-body">
				<h5 class="card-title">Abonnement mensuel</h5>
				<p class="card-text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quod.
				</p>
				<p>
					<strong>23,99€</strong>
					/ mois
				</p>
				{% if app.user %}
					{% if flag %}
					Vous êtes déjà abonné. Merci de votre fidélité ;)
					{% else %}
					<a href="{{ path('app_subscription_stripe', {'type': 'monthly'}) }}" class="btn btn-primary sub-btn" data-id="monthly">Souscrire</a>
					{% endif %}
				{% else %}
					<a href="{{ path('app_register') }}" class="btn btn-primary">M'inscrire</a>
					ou
					<a href="{{ path('app_login') }}" class="btn btn-primary">Me connecter</a>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
